<!DOCTYPE html>
<html lang="pl" th:lang="${lang}"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Foodie</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <div th:object="${item}">
        <img class="dish-image-large" th:src="@{*{pictureAddress}}" th:alt="*{name}" th:title="*{name}">
        <h2 th:text="|*{name} (*{price} zł)|">PIZZA</h2>
        <p th:text="*{description}">Najlepsza pizza na świecie</p>
        <a href="#" th:href="@{/zamowienie/dodaj(itemId=${item.id})}" class="button">
            Dodaj do zamówienia
        </a>
    </div>
</body>
</html>