<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Generator liczb</title>
</head>
<body>
    <header>
        <div id="main-header">
            <h1>Foodie</h1>
            <h2>Zamówienia</h2>
        </div>
    </header>
    <div>

    </div>
    <div class="container" th:each="item, status: ${items}" th:object="${item}">
        <img class="cutlery" th:src="@{/img/cutlery.svg}" alt="Ikona sztućców" title="Ikona sztućów">
        <div>
            <a href="#" th:href="@{|/dishes/${#strings.replace(item.name, ' ', '-')}|}">
                <h3 th:text="|*{name} (*{price} zł)|">PIZZA</h3>
            </a>
            <p th:text="*{shortDescription}">Najlepsza pizza na świecie</p>
            <img class="dish_image" th:src="*{pictureAddress}" th:alt="*{name}" th:title="*{name}">
            <a href="#" th:href="@{/basket/add(itemId=${item.id})}" class="button">
                Dodaj do zamówienia
            </a>
        </div>
    </div>
</body>
</html>
